h1{
    color: rgb(9, 9, 161);
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;

    
}
h2{
    color: blueviolet;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}
mark{background-color:rgb(49, 148, 165) ;}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

ul{
    list-style-image: url(media/f.png);
    
}
ol{
    list-style-type:upper-roman;
}
p{text-align: justify;font-size: 25px;}
span{color: rgb(212, 141, 8);font-style: italic;}
#tel{color: green;}
td,th{border: 2px solid rgb(126, 3, 3);text-align: center;}
table{border-collapse: collapse;margin: auto;
    ;}
.imgd{
    width: 120px;
    height: 90px;
    transition: transform  2s;
}
caption{background-color: rgb(35, 142, 209);
padding-top: 7px;
padding-bottom: 5px;}
tr:hover{background-color: blueviolet;}
audio,video{display: block;margin: auto;}
hr{border-color: brown;
border-style: groove;
border-width: 2px;
width: 60%;}
.col{
    width: 120px;
    display: inline-block;
}
fieldset{
    border-color: brown;
    font-size: large;
}
legend{
    color: red;
    font-size: xx-large;
    font-style: italic;
}
.ty{
    border-color: blue;
    color: blue;
    width: 200px;
    transition: width 5s;
}
header{
    background-color: brown;
}
nav{background-color: rgb(14, 203, 246);width: 20%;}
#flex{
    display: flex;
}
section{width: 100%; height: 800px;}
iframe{
    width: 100%; height: 800px;
}
footer{
    background-color: blueviolet;
}
 nav li{
    border:2px  solid  rgb(52, 91, 146);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition-property:all;
    transition-duration: 3s;
    transition-delay: 205ms;
}
nav a li:hover{
    background-color: blue;
    color: chartreuse;

}
nav ul{padding: 0;}
nav a{
    text-decoration: none;
    color: aliceblue;
}
footer{text-align: center;}
footer p{text-align: center;}
header h1{
    text-shadow: 3px 3px 5px red;
    text-transform: uppercase;

}
nav a :visited{
    color: blueviolet;
}
#zone1{ width: 20%;}
#zone2{width: 50%;}
#zone3{width: 30%;}
#s{
    margin: 0px;
    text-shadow: -5px -3px 9px red;text-transform: uppercase;
    transition-property: font-size ;
    transition-duration: 3s;
}
#s:hover{
    font-size: 54px;
}
#t1{
    transform: skew(0,10deg);
}
#t2{
    transform: translate(-300px,15px);
}
.imgd:hover{
    transform: rotate(360deg) scale(2);
}
.ty:focus{
    width: 700px;
}
#t3{transition: all 3s;}
#t3:hover{
    color: lightseagreen;
    transform: translate(600px,0px) ;
    
    
}
#t4{
    transition: transform 5s;
}
#t4:hover{
    transform: rotate(-1080deg);
}
.batoun{
    transition: all 5s;
}
.batoun:hover,.batoun:focus{
    box-shadow: 2px 4px 6px lightseagreen ;
    background-color: brown;
    color: darkblue;
}
